body {
    background-color: azure;
}

.cover-insert {
    width: 150px;
    height: 225px;
}


.desc {
    font-family: Georgia, serif;
}

.jumbotron {
    background-image: url("./images/BowlCozy-narrow.jpg");
    background-size: cover;
}

.vpad {
    padding-top: 1em;
}